body {
    width: 100%;
}

.content {
    text-align: center;
}

.rowright {
    float: right;
}

.left-column {
    width: 50%;
    float: left;
}

.right-column {
    width: 50%;
    float: right;
}

.txttensach {
    margin-left: 10px;
    Width: 270px;
    Font-Size: 16px;
}

.lbllistcate {
    margin-left: -95px;
    Font-Size: 16px;
}

.listcate {
    margin-left: 5px;
    Width: 270px;
    Font-Size: 16px;
}

.lbldongia {
    margin-left: 35px;
    Font-Size: 16px;
}

.txtdongia {
    margin-left: 5px;
    margin-top: 33px;
    margin-right: 20px;
    width: 270px;
    Font-Size: 16px;
}

.lblsoluong {
    margin-left: 35px;
    Font-Size: 16px;
}

.txtsoluong {
    margin-right: 20px;
    margin-top: 33px;
    width: 270px;
    Font-Size: 16px;
}

.txtimage {
    Margin-left: 48px;
    Width: 270px;
    Font-Size: 16px;
}

.image {
    margin-left: -80px;
}
