
.lblnguoidung3 {
    margin-left: 30px;
    Font-Size: 16px;
}

.txtnguoidung3 {
    margin-left: 5px;
    Width: 170px;
    Font-Size: 16px;
}

.lbltaikhoan3 {
    margin-left: 30px;
    Font-Size: 16px;
}

.txttaikhoan3 {
    margin-left: 20px;
    margin-top: 33px;
    Width: 170px;
    Font-Size: 16px;
}

.ckbgioitinh {
    margin-left: 55px;
    Font-Size: 16px;
}

.lblgioitinh {
    margin-left: 30px;
    Font-Size: 16px;
}

.lblngaysinh {
    margin-left: 30px;
    margin-top: 33px;
    Font-Size: 16px;
}

.txtngaysinh {
    margin-left: 40px;
    margin-top: 33px;
    Width: 170px;
    Font-Size: 16px;
}

.lbldiachi {
    margin-left: 30px;
    Font-Size: 16px;
}

.txtdiachi {
    margin-left: 35px;
    Font-Size: 16px;
}

.lbldienthoai {
    margin-left: 30px;
    Font-Size: 16px;
}

.txtdienthoai {
    margin-left: 10px;
    margin-top: 33px;
    Font-Size: 16px;
}

.lblemail {
    margin-left: 30px;
    Font-Size: 16px;
}

.txtemail {
    margin-left: 45px;
    margin-top: 33px;
    Font-Size: 16px;
}

.lblngaythamgia {
    margin-left: 30px;
    margin-top: 33px;
    Font-Size: 16px;
}

.txtngaythamgia {
    margin-left: 40px;
    margin-top: 33px;
    Width: 170px;
    Font-Size: 16px;
}

.lblghichu {
    margin-left: 30px;
    Font-Size: 16px;
}

.txtghichu {
    margin-left: 40px;
    margin-top: 20px;
    width: 310px;
    height: 80px;
    Font-Size: 16px;
}
